.cesb{
    background-color: rgb(4, 252, 252)#dfdfe0;
    color: black;
    font-size: 24px;
    padding: 160px 120px;
}
.alunos-cesb{
    padding: 24px 0;
}
body{
    font-family: sans-serif;
}
.div-alunos{
    text-align: center;
    padding: 24px 0;
    background-color: black;
}
.imagens-alunos {
    width: 360px;
}
.titulo-alunos{
    padding: 16px 0;
}